*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --main-dark-cl: #434455;
    --main-logo-cl: #4D5AE5;
    --logo-up-nav-cl: #2E2F42;
    --logo-down-cl: #F4F4FD;
    --active-link-cl: #404BBF;
    --main-background-cl: #FFFFFF;
    }

body {
    background-color: var(--main-background-cl);
    color: var(--main-dark-cl);
    font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: currentColor;
    text-decoration: none;
}

button {
    font-family: inherit;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
}

h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

main {
    flex-grow: 1;
}

img {
    display: block;
}

.header {
    border-bottom: 1px solid #e7e9fc;
}

.page-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
}

.header-link {
    display: flex;
    align-items: center;
    gap: 40px; 
    padding-top: 24px;
    padding-bottom: 24px;
}

.header-address {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-left: 35px;
}

.logo {
    display: flex;
    align-items: center;
    margin-right: 76px;

    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-logo-cl);
}

.link {
    text-decoration: none;
}

.studio {
    color: var(--logo-up-nav-cl);
}

.studio-down {
    color: var(--logo-down-cl);
}

.nav-link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-up-nav-cl);
    text-transform: none;
}

.nav-link:hover,
.nav-link:focus {
    color: var(--active-link-cl);
}

.list {
    list-style: none;
}

.address {
    font-style: normal;
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

.address-link:hover,
.address-link:focus {
    color: var(--active-link-cl);
}

.header-list {

}

.hero-section {
    margin-left: auto;
    margin-right: auto;
    background-color: var(--logo-up-nav-cl);
    color: var(--main-background-cl);
}

.hero-title {
    padding-top: 188px;
    padding-bottom: 48px;

    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
}

.hero-btn {
    display: inline-flex;
    padding: 16px 32px;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 188px;

    background-color: var(--main-logo-cl);
    color: var(--main-background-cl);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.hero-btn:hover,
.hero-btn:focus {
    background: var(--active-link-cl);
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-features {
    display: flex;
    align-items: flex-start;
    gap: 24px;
}

.features-section {
}

.general-section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--logo-up-nav-cl);
    padding-bottom: 8px;
}

.section-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-dark-cl);
}

.section-what-title {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-up-nav-cl);
    text-align: center;
}

.section-what {
    display: inline-flex;
    align-items: flex-start;
    gap: 24px;
}

.team-section {
    display: inline-flex;
    margin-bottom: 120px;
    justify-content: center;
    align-items: center;
    gap: 24px;
    text-align: center;
}

.section-team {
    background-color: var(--logo-down-cl);
}

.section-team-title {
    padding-top: 120px;

    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--logo-up-nav-cl);
    text-align: center;
}

.team-back {
    background-color: var(--main-background-cl);
}

.prt-btn {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    gap: 24px;
    
}

.card {
    display: flex;
    width: 360px;
    height: 420px;
    padding-bottom: 0px;
    align-items: flex-start;
    gap: 32px;
    flex-shrink: 0;
    border: 1px solid var(--cornflower, #E7E9FC);
    background: var(--white, #FFF);
}

.portfolio-btn {
    color: var(--main-logo-cl);
    background-color: var(--logo-down-cl);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    color: var(--main-background-cl);
    background-color: var(--active-link-cl);
}

.footer {
    background-color: var(--logo-up-nav-cl);
    text-align: left;
}

.footer-paragraph {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--logo-down-cl);
}
